{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container text-center my-5">
    <div class="row justify-content-center">
        <section class="col-md-8 p-4 bg-light border rounded-3 shadow-sm">
            <h2 class="fw-bold mb-3">Welcome to LindyQuant</h2>
            <p class="lead">
                LindyQuant is a gist-oriented "Math&Code" Sharing Social. Just publish your article with formatted code and images, 
                and it'll appear on your home page like a Twitter post. Engage with a community passionate about sharing and discussing
                innovative ideas.
            </p>
        </section>
    </div>
</main>
{% endblock %}